<div class="grid-x grid-padding-x">
  <div class="cell small-4"></div>
  <div class="cell small-4">
    <%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
    <% @user.errors.full_messages.each do |message| %>
      <div class="grid-x grid-margin-x medium-margin-collapse">
        <div class="cell small-1"></div>
        <div class="cell small-10">
          <div class="callout alert">
            <%= message %>
          </div>
        </div>
        <div class="cell small-1"></div>
      </div>
    <% end %>
    <p>ユーザー名</p>
    <input type="text" name="name" value="<%= @user.name %>">
    <p>メールアドレス</p>
    <input type="email" name="email" value="<%= @user.email %>">
    <br>
    <p>画像</p>
    <input type="file" name="image">

    <input type="submit" class="button primary float-right" value="保存">
  </div>
  <div class="cell small-4"></div>
</div>

<% end %>
