<% if @error_message %>
  <div class="grid-x grid-margin-x medium-margin-collapse">
    <div class="cell small-1"></div>
    <div class="cell small-10">
      <div class="callout alert">
        <%= @error_message %>
      </div>
    </div>
  <div class="cell small-1"></div>
</div>
<% end %>

<div class="card" style="margin: auto;width: 300px;">
  <div class="card-section">
    <%= form_tag("/login") do %>
    <h3 class="text-center">ログイン</h3>
    <br>
    <p>メールアドレス</p>
    <input type="email" name="email" value="<%= @email %>">
    <p>パスワード</p>
    <input type="password" name="password" value="<%= @password %>">
    <br>
    <input type="submit" value="Log In" class="button expanded">
  </div>
</div>
<% end %>
