<div class="grid-x grid-padding-x">
  <div class="cell small-4"></div>
  <div class="cell small-4">
    <h1 class="text-center">つぶやき一覧</h1>
    <% @posts.each do |post| %>
    <div class="callout">
      <%= link_to(post.content, "/posts/#{post.id}") %>
    </div>
    <% end %>
  </div>
  <div class="cell small-4"></div>
</div>
