<div class="grid-x grid-padding-x">
  <div class="cell small-4"></div>
  <div class="cell small-4">
    <h1 class="text-center">投稿する</h1>
    <%= form_tag("/posts/create") do %>
    <% @post.errors.full_messages.each do |message| %>
      <div class="grid-x grid-margin-x medium-margin-collapse">
        <div class="cell small-1"></div>
        <div class="cell small-10">
          <div class="callout alert">
            <%= message %>
          </div>
        </div>
        <div class="cell small-1"></div>
      </div>
    <% end %>
    <textarea name="content" class="align-center" rows="4" cols="40"><%= @post.content %></textarea>
    <br>
    <input class="float-right button primary" type="submit" value="投稿">
  <% end %>
</div>
<div class="cell small-4"></div>
</div>
