@import "foundation_and_overrides";
@import 'foundation-icons';

#logo {
  font-size: 1.7em;
  color: black;
  font-weight: bold;

  &:hover {
    color: #777777;
    text-decoration: none;
  }
}

.posts-index{
  border: thin solid;
  border-color: #cccccc;
  color: black;
}
