@import "foundation_and_overrides";
@import 'foundation-icons';

#logo {
  font-size: 1.7em;
  color: black;
  font-weight: bold;

  &:hover {
    color: #777777;
    text-decoration: none;
  }
}

.posts-index{
  border: thin solid;
  border-color: #cccccc;
  color: black;
}

.background {
  background-image: image-url("top_background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
